<div class="slide">
	<div class="hero-unit">
		<h2>ServiceStack</h2>
		<div>&nbsp;</div>
		<p>Framework to create speedy web services</p>
	</div>
	<h3>Complete server-side stack</h3>
	<div class="row">
		<div class="span4">
			<h4>caching</h4>
		</div>
		<div class="span4">
			<h4>logging</h4>
		</div>
		<div class="span4">
			<h4>diagnostics</h4>
		</div>
		<div class="span4">
			<h4>authentication</h4>
		</div>
		<div class="span4">
			<h4>configuration</h4>
		</div>
		<div class="span4">
			<h4>data acces</h4>
		</div>
	</div>
</div>
