<div class="slide">
	<div class="hero-unit">
		<h2>Be More</h2>
	</div>
	<div class="row">
		<div class="span3">
			<h3>Show me what you got</h3>
			<p>Somewhat rigid <a href="/api/metadata">documentation page</a>.</p>
		</div>
		<div class="span3">
			<h3>WWW</h3>
			<p><code>ILogFactory</code> + <a href="/elmah.axd">ELMAH</a></p>
		</div>
		<div class="span3">
			<h3>WWGW</h3>
			<p><a href="/api/countries/en">Mini-Profiler</a></p>
		</div>
		<div class="span3">
			<h3>Save for later</h3>
			<p>Simple caching</p>
		</div>
	</div>
</div>
