<div class="tab-pane active" id="get">
	<div class="form-horizontal">
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="txtCode_GET">Existence of Translation</label>
				<div class="controls">
					<input id="txtCode_GET" class="input-mini" type="text" placeholder="alpha 2" maxlength="2" />
					
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<input id="txtLanguage_GET" class="input-small" type="text" placeholder="lang" maxlength="2" />
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button class="btn btn-primary" href="#" id="btnGET" data-src="@ViewBag.GetUrl">Check</button><br />
				</div>
			</div>
		</fieldset>
	</div>
</div>
