<div class="tab-pane" id="delete">
	<div class="form-horizontal">
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="txtCode">Deletion of Translation</label>
				<div class="controls">
					<input id="txtCode_DELETE" class="input-mini" type="text" placeholder="alpha 2" maxlength="2" />
					
				</div>
			</div>
			<div class="control-group">
				<!--label class="control-label" for="txtCode">Translation Creation</label-->
				<div class="controls">
					<input id="txtLanguage_DELETE" class="input-small" type="text" placeholder="lang" maxlength="2" />
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button class="btn btn-primary" href="#" id="btnDELETE" data-src="@ViewBag.DeleteUrl">Delete</button><br />
				</div>
			</div>
		</fieldset>
	</div>
</div>
