@{
	ViewBag.Title = "Crowdsource-it :: ISO 3166-1 :: Countries Demo";

	Bundles.Reference("scripts/pages/Countries.js");
}
<div class="container">
	<section id="intro">
		<h1>Some Demo code</h1>
		<p>Usage of the <code>/api/countries/{language}</code> and <code>/api/country/{code}</code> services, both consumed server-side and client.side.</p>
		<br/>
	</section>
	<section id="demo">
		<div class="tabbable tabs-left">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#server" data-toggle="tab">Server</a></li>
				<li><a href="#client" data-toggle="tab">Client</a></li>
			</ul>
			<div class="tab-content">
				@Html.Partial("_CountriesServerTab", Tuple.Create((IEnumerable<SelectListItem>)ViewBag.Countries, (string)@ViewBag.Country))
				@Html.Partial("_CountriesClientTab")
			</div>
		</div>
	</section>
</div>
