@{
    ViewBag.Title = "Crowdsource-it :: ISO 3166-1 :: Home";
}

<div class="hero-unit">
	<h2>Crowdsource-it ISO 3166-1</h2>
	<p>
		Get your countries right.
		<p><a class="btn btn-primary btn-large">See a demo &raquo;</a></p>
	</p>
</div>
<div class="row">
	<div class="span4">
		<h2>list of countries</h2>
		<p>Get a list of all current countries in a given language.</p>
		<p>ISO-happy</p>
	</div>
	<div class="span4">
		<h2>single country</h2>
		<p>by alpha-2</p>
		<p>and alpha-3</p>
	</div>
	<div class="span4">
		<h2>Corrections</h2>
		<p>add corrections in you language of choice</p>
		<p>correct the crowd</p>
	</div>
</div>
